@filterWidth:  200px;
@lightGrey: #EDE7E6;
@fontOvo: 'Ovo', serif;

 .ingredients-hidden-button{
 display:none;
 }


/* style for mobile view filter button*/
.ingredients-hidden-button a{
color: black;

  font-family: @fontOvo;
}
 .ingredients-hidden-button{
  border: none; /* Remove borders */
    outline: none; /* Remove outline */
	position:absolute;	
	
	top:0;
	left:250px;
    background-color: cyan;  
    color: black;  
    cursor: pointer; 
    padding: 1%;
    height:50px;	
	margin:3px;
    border-radius: 10px;  
    font-size: 18px;  
 }
 .ingredients-hidden-button:hover{
  background-color:orange;
 }

.choose-ingredient-block{


  max-width: 350px;  
}

.sidenav{

    width: @filterWidth;
    position: sticky;
    top:55px;
	float:left;
    z-index: 1;
    left: 0;
    background-color: @lightGrey;
    overflow-x: hidden;
    padding-top: 20px;

height: 100%;
}


.sidenav .ingredient, .dropdown-btn {

  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
#listCategories li:hover{
  background-color: #6cba5a;
}
.sidenav .ingredient:hover   {
  background-color: #ffc158;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #6cba5a;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;

height:200px;
  overflow-y:scroll ;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}





.toggle-custom {
  position: absolute !important;
  top: 0;
  right: 0;
}
.toggle-custom[aria-expanded='true'] .glyphicon-plus:before {
  content: "\2212";
}


@media only screen and (max-device-width: 600px) { 
.ingredients-hidden-button{
display:block;
}
 .choose-ingredient-block{
 display: none;
 }
 .recipies-and-ingredients-shown-wrapper{
 margin: 0 auto;
 width:100%;
 } 
 
 }