@filterWidth:  200px;
@lightGrey: #EDE7E6;
@fontOvo: 'Ovo', serif;

 .ingredients-hidden-button{
 display:none;
 }


/* style for mobile view filter button*/
.ingredients-hidden-button a{
color: black;

  font-family: @fontOvo;
}
 .ingredients-hidden-button{
  border: none; /* Remove borders */
    outline: none; /* Remove outline */
	position:absolute;	
	
	top:0;
	left:250px;
    background-color: cyan;  
    color: black;  
    cursor: pointer; 
    padding: 1%;
    height:50px;	
	margin:3px;
    border-radius: 10px;  
    font-size: 18px;  
 }
 .ingredients-hidden-button:hover{
  background-color:orange;
 }

.choose-ingredient-block{


  max-width: 350px;  
}

.sidenav{

    width: @filterWidth;
    position: sticky;
    top:55px;
	float:left;
    z-index: 1;
    left: 0;
    background-color: @lightGrey;
    overflow-x: hidden;
    padding-top: 20px;
	
height: 100%;
}

@media only screen and (max-device-width: 600px) { 
.ingredients-hidden-button{
display:block;
}
 .choose-ingredient-block{
 display: none;
 }
 .recipies-and-ingredients-shown-wrapper{
 margin: 0 auto;
 width:100%;
 } 
 
 }