@darkGrey: #313131;
@lightGrey: #EDE7E6;
@darkViolet: #902551;
@roseLighter: #F3D0CC;
@roseDarker: #F7D0CB;
@fontOvo: 'Ovo', serif;
@fontMuli: 'Muli', sans-serif;
@filterWidth: 200px;

header{
  position: fixed;
  top: 0;
  z-index: 10;
  max-height: 55px;
  width: 100%;
  //margin-bottom: 5%;
  background-color: @darkGrey;
  color: @lightGrey;
  font-family: @fontOvo;
}

.header-title{
  line-height: 35%;
  margin-left: 40%;
  max-width:200px;
}

.header-references{
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 15;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: @lightGrey;
  float: right;
  display: inline;
} 
.sign-in-link, .sign-out-link, .slash{
clear:both;
  color: @lightGrey;
  font-size: 150%;
  padding-top: 9px;
  
}
.headerButtons{
max-width:200px;
}
.search-by-name-outer-block{
  clear: both;
  margin-top: 100px;
  background-color: @roseDarker;
}
 


.choose-ingredient-block {
  max-width: 350px;  
}


 
.btn{
  padding:0!important;
  padding-bottom:0px;
}
.glyphicon{ font-size: 10px;
} 


.search-by-name-outer-block{
/*margin-left: @filterWidth; */
height:100px;
}
.sidenav{

    width: @filterWidth;
    position: sticky;
    top:60px;
	float:left;
    z-index: 1;
    left: 0;
    background-color: @lightGrey;
    overflow-x: hidden;
    padding-top: 20px;
	
height: 100%;
}

.top-block-bar, .search-by-name-outer-block{

    display: flex;
    justify-content: center;
    align-items: center;

}
/*-----style for search bar and dropdown filters------  */ 
