@darkGrey: #313131;
@lightGrey: #EDE7E6;
@darkViolet: #902551;
@roseLighter: #F3D0CC;
@roseDarker: #F7D0CB;
@fontOvo: 'Ovo', serif;
@fontMuli: 'Muli', sans-serif;

header{
  position: fixed;
  top: 0;
  z-index: 10;
  max-height: 55px;
  width: 100%;
  //margin-bottom: 5%;
  background-color: @darkGrey;
  color: @lightGrey;
  font-family: @fontOvo;
}

.header-title{
  line-height: 35%;
  margin-left: 40%;
}

.header-references{
  width: 100%;
  overflow: hidden;
  //position: fixed;
  //top: 0px;
  z-index: 15;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: @lightGrey;
  float: right;
}

.sign-in-link, .sign-out-link, .slash{
  color: @lightGrey;
  font-size: 150%;
  padding-top: 9px;
  margin-left: 80%;
  display: inline-block;
}

.search-by-name-outer-block{
  clear: both;
  margin-top: 100px;
  background-color: @roseDarker;
}

//header links

/* visited link */
//a:visited {
//  color: green;
//}
/* mouse over link */
//a:hover {
//  color: hotpink;
//}
/* selected link */
//a:active {
//  color: blue;
//}


.choose-ingredient-block {
  max-width: 350px;
}

/*--------------for mini-Recipe-----------*/
<<<<<<< HEAD
.container-img{
  width:100%;

}
.mini-recipe-time{
  border-radius: 25px;
  position: absolute;
  top: 5px;
  left:5px;
  color: #f1f1f1;
  width:50px;
  background: rgba(0, 0, 0, 0.5);
}
.mini-recipe-rate{
  border-radius: 25px;
  position: absolute;
  top: 5px;
  right:5px;
  color: #f1f1f1;
  width:50px;
  background: rgba(0, 0, 0, 0.5);
}
.mini-recipe-content{
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;

}
.mini-recipe{
  background-image: url("https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/4/5/0/RX-FNM_050111-TV-Sweeps-010_s4x3.jpg.rend.hgtvcom.616.462.suffix/1371595337466.jpeg");
  background-repeat: no-repeat;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin:7px;
  height:400px;
  position: relative;
}
.mini-recipes{
  background:blanchedalmond;
}




/*--------------for Recipe Card-----------*/
.recipe-card-first-wrapper{
  float:left;
  max-width:50%;
  padding-right:20px;
}
.recipe-card-image{

  width:70%;
  float:right;
}
.recipe-card-last-wrapper{
  margin-left:40%;
}
h4{
  //color:green;
}
.recipe-card{
  border:1px solid black;
  padding:20px;
  width:80%;
}
.btn{
  padding:0!important;
  padding-bottom:0px;
}
.glyphicon{ font-size: 10px;
}
.wrapper-missing-ingredients{
  max-width: 350px;
  height:30px;
}

/*-----------------------*/


=======
 .container-img{
 width:100%;
 
 }
 .mini-recipe-time{
  border-radius: 25px;
  position: absolute; 
    top: 5px;
	left:5px;
	 color: #f1f1f1;
	 width:50px;
	background: rgba(0, 0, 0, 0.5);  
 }
 .mini-recipe-rate{
  border-radius: 25px;
  position: absolute; 
    top: 5px;
	right:5px;
	 color: #f1f1f1;
	 width:50px;
	background: rgba(0, 0, 0, 0.5);  
 }
 .mini-recipe-content{
  position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5);  
    color: #f1f1f1; 
    width: 100%; 
    padding: 20px;  
	
	}
.mini-recipe{
background-image: url("https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/4/5/0/RX-FNM_050111-TV-Sweeps-010_s4x3.jpg.rend.hgtvcom.616.462.suffix/1371595337466.jpeg");
 background-repeat: no-repeat;
padding-left: 0 !important;
    padding-right: 0 !important;
margin:7px;
height:400px;
position: relative; 
}
.mini-recipes{ 
background:blanchedalmond;
}
 
 
 

/*--------------for Recipe Card-----------*/
.recipe-card-first-wrapper{
float:left;
max-width:50%; 
padding-right:20px;
}
.recipe-card-image{  

 width:70%;
float:right;
}  
.recipe-card-last-wrapper{
margin-left:40%;
}
 h4{
color:green;
}
.recipe-card{
border:1px solid black;
padding:20px;
width:80%;
}
 .btn{ 
padding:0!important;
padding-bottom:0px;
 }
.glyphicon{ font-size: 10px;
}
.wrapper-missing-ingredients{
max-width: 350px;
height:30px;
}

/*-----------------------*/
>>>>>>> 34ccc294ca0b81f410528c30d683975194828b9b
