<div class="ingredient">
    <!--CheckBox -->
    <input type="checkbox"  name="ingredient" value="includeThisIngredient">
    <!-- name of ingredient-->
    <span class="ingredient" style="padding-left: 10px"><%=ingredient.ingredient%></span>
    <!--How much?-->
    <input class="number" type="number" style=" width: 50px;">
    <!--Metrics -->
    <span class="ingredient-unit">
        <%=ingredient.unit%>
    </span>
</div>