<div class="ingredient">
    <!--CheckBox -->
    <input type="checkbox"  name="ingredient" value="includeThisIngredient">
    <!-- name of ingredient-->
    <%=ingredient.ingredient%>
    <!--How much?-->
    <input id="number" type="number" style=" width: 50px;">
    <!--Metrics -->
    <span class="ingredient-unit">
        <%=ingredient.unit%>
    </span>
</div>